$text1: "Roboto",san-serif;
$text2: "Open Sans",san-serif;


$color1:#fef2f2;
$color2:#286f6c;
$color2_1:#174340;
$color3:#f26440;
$color3_light:rgb(249,141,141);
$color4:#ffff;
$color5:#292b46;
$color6:#161616;
$color6_1:#16161698;
$color6_2:#16161622;

$p:13.33vmax;
$p_md:7vmx;
$p_base:5vmx;
$p_base_inverse:15vmx 10vmax;
$p_sm:2vmx;
$p_sm_inverse:13vmx 0;
$p_zer0:0;
